<div class="animated-landing-section">
  <div class="container">
    <nav>
      <div class="logo">
        <a href="#">MyLogo</a>
      </div>
      <div class="links">
        <div class="link">
          <a href="#">Contact Us</a>
        </div>
        <div class="link">
          <a href="#">Menu</a>
        </div>
      </div>
    </nav>
    <footer>
      <p>&copy;2024</p>
      <p>Scroll to explore</p>
    </footer>
    <div class="tagline">
      <p>For 20 years we have been providing technical support services for large scale events</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Animated Landing Section",
  "presets": [
    {
      "name": "Animated Landing Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
