<div class="homepage-menu">
  <ul class="menu-list">
    {% assign menu_items = 'ALL,TOPS,BOTTOMS,SOCKS,SHOES,ACCESSORIES' | split: ',' %}
    {% assign menu_handles = 'all,tops,bottoms,socks,shoes,accessories' | split: ',' %}

    {% for item in menu_items %}
      <li class="menu-item">
        <a href="#" class="menu-link" data-collection-handle="{{ menu_handles[forloop.index0] }}">
          {{ item }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <!-- Featured Collection Container -->
  <div id="featured-collection" class="featured-collection">
    <!-- This block is intentionally left empty for JavaScript to populate -->
  </div>
</div>

{% schema %}
{
  "name": "Homepage Menu",
  "settings": [
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Featured Collection"
    }
  ],
  "presets": [
    {
      "name": "Homepage Menu",
      "category": "Homepage"
    }
  ]
}
{% endschema %}
