<div class="klaviyo-form-Whvmr4"></div>

<script>
  var _learnq = _learnq || [];

  document.addEventListener('klaviyoForms', function(e) {
    if (e.detail.type == 'submit' && e.detail.formId == 'Whvmr4') {
      // Add the custom property to the submission
      e.detail.klaviyoData.$hvco_type = {{ page.title | json }};
    }
  });
</script>
