<div class="klaviyo-form-Whvmr4"></div>

<script>
  document.addEventListener('klaviyoForms', function (event) {
    if (event.detail.formId == 'Whvmr4' && event.detail.type == 'submit') {
      // Get the email that was submitted
      var email = event.detail.klaviyoData.email;

      // Create a direct identify call to update the profile with our property
      var _learnq = window._learnq || [];
      _learnq.push([
        'identify',
        {
          $email: email,
          $hvco_type: '{{ page.title }}',
        },
      ]);

      console.log('Added property via direct identify call: {{ page.title }}');
    }
  });
</script>
